@model LMS2.Models.File

@{ViewBag.Title = "Upload file";}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("UploadFile", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    <div>
        <div>
            @Html.TextBox("file", "", new { type = "file" })
        </div>
        <br />

        @*<div>@Html.TextBoxFor(x => x.CourseId)</div>
            <div>@Html.TextBoxFor(x => x.ModuleId)</div>
            <div>@Html.TextBoxFor(x =>x.ActivityId)</div>*@

        File description: @Html.TextBoxFor(File => File.Description)
        <br />
        <br />

        <input class="btn btn-primary" type="submit" value="Upload file" />

    </div>

    <br />
    @Html.ActionLink("Back to List", "Index", "Courses")<span></span>

    @*<div class="form-group">
            @Html.Label("Upload File", new { @class = "control-label col-md-2" })
            @Html.TextBox("file", "", new { type = "file" }) <br />
            @Html.DropDownListFor(model => model.FileTypeId, new SelectList(Model.FileTypes, "Id", "FileTypeName"), "Choose a file type", htmlAttributes: new { @class = "form-control" })
            <div class="col-md-10">
                <input type="file" name="upload" />
            </div>
        </div>*@

}
@ViewBag.Message