<!DOCTYPE html>
<script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/LMS2.css" rel="stylesheet" />
@using Microsoft.AspNet.Identity
@model IEnumerable<LMS2.Models.Course>

<head>
    @if (User.IsInRole("Student"))
    {
        ViewBag.Title = "Course page";
    }
    @if (User.IsInRole("Teacher"))
    {
        ViewBag.Title = "Course list";
    }
</head>

<body>

    <pre class="hidden">
activities, hur ska vi ge tidsförslag?
Footern, göra någonting med den?
feedback, hantera
</pre>
    <pre class="hidden">
Erik: Auth controllers, kolla så att allt som ska vara låst är låst
Erik: delete (cascade)
Erik: Jquery cookies, kan det lösa det?
Jonas: Documents, saknas funktionalitet!!!!!
Jonas: Åter till create om man vill (om vi inte får till partial views i indexvyn)
Jonas: Partial views för edit, add, delete från indexsidan (hoppas att den inte laddar om då)
Jonas: Userlist, search radioknapparna, fixa till så att de funkar
Jonas: Userlist, sortering mha jquery
Fredrik: Back-to-knappar
Fredrik: delete files
</pre>

    @if (User.IsInRole("Teacher"))
    {
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Filters/Add new course

                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">

                    <li>@Html.ActionLink("Current courses", "Index", new { id = 0 })</li>
                    <li>@Html.ActionLink("Upcoming courses", "Index", new { id = 1 })</li>
                    <li>@Html.ActionLink("Past courses", "Index", new { id = 2 })</li>
                    <li>@Html.ActionLink("All courses", "Index", new { id = 3 })</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Add new course", "Create")</li>

                </ul>
        </ul>
<pre>
@ViewBag.Filter
</pre>


        <div class="usa"></div>
        <p>

        </p>
    }
    @if (User.IsInRole("Student"))
    {
        if (ViewBag.Filter.Length > 0)
        {
            <pre>
@ViewBag.Filter</pre>}

        {
            if (ViewBag.SchedulePast.Count + ViewBag.ScheduleToday.Count + ViewBag.ScheduleThisWeekFromTomorrow.Count + ViewBag.ScheduleNextWeek.Count + ViewBag.ScheduleAfterNextWeek.Count > 0)
            {

                <h2>Schedule</h2>


                {
                    if (ViewBag.SchedulePast.Count > 0)
                    {

                    }
                }

                <details>
                    <summary>Past</summary>
                    <table id="schedulePast">
                        <tr class="title">
                            <th style="width:7%">
                                Date
                            </th>
                            <th style="width:8%">
                                Time
                            </th>
                            <th style="width:8%">
                                Type
                            </th>
                            <th style="width:10%">
                                Name
                            </th>
                            <th style="width:10%">
                                In module
                            </th>
                            <th style="width:50%"></th>

                        </tr>
                        @{ foreach (var activity in ViewBag.SchedulePast)
                            {
                                <tr class="border_bottom">
                                    <td style="width:7%">
                                        @activity.StartDate.Date.ToShortDateString()
                                    </td>
                                    <td style="width:8%">

                                        @activity.StartDate.ToString("HH:mm")
                                        <text> - </text> @activity.EndDate.ToString("HH:mm")
                                    </td>
                                    <td style="width:8%">
                                        <b>
                                            @activity.ActivityType.ActivityTypeName
                                        </b>
                                    </td>
                                    <td style="width:10%">
                                        @activity.ActivityName

                                    </td>
                                    <td style="width:10%">
                                        @activity.Module.ModuleName
                                    </td>
                                    <td style="width:50%">
                                        @activity.ActivityInfo
                                    </td>

                                </tr>
                            }
                        }
                    </table>
                </details>

                {
                    if (ViewBag.ScheduleToday.Count > 0)
                    {


                        <details open>
                            <summary>Today</summary>
                            <table id="scheduleToday">
                                <tr class="title">
                                    <th style="width:7%">
                                        Date
                                    </th>
                                    <th style="width:8%">
                                        Time
                                    </th>
                                    <th style="width:8%">
                                        Type
                                    </th>
                                    <th style="width:10%">
                                        Name
                                    </th>
                                    <th style="width:10%">
                                        In module
                                    </th>
                                    <th style="width:50%"></th>

                                </tr>
                                @{ foreach (var activity in ViewBag.ScheduleToday)
                                    {
                                        <tr class="border_bottom">
                                            <td style="width:7%">
                                                @activity.StartDate.Date.ToShortDateString()
                                            </td>
                                            <td style="width:8%">

                                                @activity.StartDate.ToString("HH:mm")
                                                <text> - </text> @activity.EndDate.ToString("HH:mm")
                                            </td>
                                            <td style="width:8%">
                                                <b>
                                                    @activity.ActivityType.ActivityTypeName
                                                </b>
                                            </td>
                                            <td style="width:10%">
                                                @activity.ActivityName

                                            </td>
                                            <td style="width:10%">
                                                @activity.Module.ModuleName
                                            </td>
                                            <td style="width:50%">
                                                @activity.ActivityInfo
                                            </td>


                                        </tr>
                                    }
                                }
                            </table>
                        </details>
                    }
                }


                if (ViewBag.ScheduleThisWeekFromTomorrow.Count > 0)
                {




                    <details>
                        <summary>This week (from tomorrow)</summary>

                        <table id="scheduleThisWeekFromTomorrow">
                            <tr class="title">
                                <th style="width:7%">
                                    Date
                                </th>
                                <th style="width:8%">
                                    Time
                                </th>
                                <th style="width:8%">
                                    Type
                                </th>
                                <th style="width:10%">
                                    Name
                                </th>
                                <th style="width:10%">
                                    In module
                                </th>
                                <th style="width:50%"></th>

                            </tr>
                            @{ foreach (var activity in ViewBag.ScheduleThisWeekFromTomorrow)
                                {
                                    <tr class="border_bottom">
                                        <td style="width:7%">
                                            @activity.StartDate.Date.ToShortDateString()
                                        </td>
                                        <td style="width:8%">

                                            @activity.StartDate.ToString("HH:mm")
                                            <text> - </text> @activity.EndDate.ToString("HH:mm")
                                        </td>
                                        <td style="width:8%">
                                            <b>
                                                @activity.ActivityType.ActivityTypeName
                                            </b>
                                        </td>
                                        <td style="width:10%">
                                            @activity.ActivityName

                                        </td>
                                        <td style="width:10%">
                                            @activity.Module.ModuleName
                                        </td>
                                        <td style="width:50%">
                                            @activity.ActivityInfo
                                        </td>

                                    </tr>
                                }
                            }

                        </table>
                    </details>

                    {
                        if (ViewBag.ScheduleNextWeek.Count > 0)
                        {


                            <details>
                                <summary>Next week</summary>
                                <table id="scheduleNextWeek">
                                    <tr class="title">
                                        <th style="width:7%">
                                            Date
                                        </th>
                                        <th style="width:8%">
                                            Time
                                        </th>
                                        <th style="width:8%">
                                            Type
                                        </th>
                                        <th style="width:10%">
                                            Name
                                        </th>
                                        <th style="width:10%">
                                            In module
                                        </th>
                                        <th style="width:50%"></th>

                                    </tr>
                                    @{ foreach (var activity in ViewBag.ScheduleNextWeek)
                                        {
                                            <tr class="border_bottom">
                                                <td style="width:7%">
                                                    @activity.StartDate.Date.ToShortDateString()
                                                </td>
                                                <td style="width:8%">

                                                    @activity.StartDate.ToString("HH:mm")
                                                    <text> - </text> @activity.EndDate.ToString("HH:mm")
                                                </td>
                                                <td style="width:8%">
                                                    <b>
                                                        @activity.ActivityType.ActivityTypeName
                                                    </b>
                                                </td>
                                                <td style="width:10%">
                                                    @activity.ActivityName

                                                </td>
                                                <td style="width:10%">
                                                    @activity.Module.ModuleName
                                                </td>
                                                <td style="width:50%">
                                                    @activity.ActivityInfo
                                                </td>

                                            </tr>
                                        }
                                    }
                                </table>
                            </details> }
                    }


                    {
                        if (ViewBag.ScheduleAfterNextWeek.Count > 0)
                        {



                            <details>
                                <summary>After next week</summary>
                                <table id="scheduleAfterNextWeek">
                                    <tr class="title">
                                        <th style="width:7%">
                                            Date
                                        </th>
                                        <th style="width:8%">
                                            Time
                                        </th>
                                        <th style="width:8%">
                                            Type
                                        </th>
                                        <th style="width:10%">
                                            Name
                                        </th>
                                        <th style="width:10%">
                                            In module
                                        </th>
                                        <th style="width:50%"></th>

                                    </tr>
                                    @{ foreach (var activity in ViewBag.ScheduleAfterNextWeek)
                                        {
                                            <tr class="border_bottom">
                                                <td style="width:7%">
                                                    @activity.StartDate.Date.ToShortDateString()
                                                </td>
                                                <td style="width:8%">

                                                    @activity.StartDate.ToString("HH:mm")
                                                    <text> - </text> @activity.EndDate.ToString("HH:mm")
                                                </td>
                                                <td style="width:8%">
                                                    <b>
                                                        @activity.ActivityType.ActivityTypeName
                                                    </b>
                                                </td>
                                                <td style="width:10%">
                                                    @activity.ActivityName

                                                </td>
                                                <td style="width:10%">
                                                    @activity.Module.ModuleName
                                                </td>
                                                <td style="width:50%">
                                                    @activity.ActivityInfo
                                                </td>

                                            </tr>
                                        }
                                    }
                                </table>
                            </details>
                        }
                    }

                }
            }
        }
        <br />
        <h2>Assignments</h2>
        <br />
        <h2>Details</h2>
    }


    <table class="table">
        <tr>
            <th style="width:30%">
                Name
            </th>
            <th style="width:10%">
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th style="width:10%">
                @Html.DisplayNameFor(model => model.EndDate)

            </th>

            @if (User.IsInRole("Teacher"))
            {

                <th style="width:20%">

                </th>
            }
            <th style="width:30%">
                <div>
                    Subitems
                </div>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="course">
                <td class="coursename">
                    <input type="checkbox" class="coursenamebox" unchecked /> <b class="btn-success" , style="color: black">C</b> @Html.DisplayFor(modelItem => item.CourseName)
                    @if (item.UrgentInfo != null && item.UrgentInfo.Length > 0)
                    {
                        <br />
                        <div class="urgentinfo">@item.UrgentInfo</div>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>

                @if (User.IsInRole("Teacher"))
                {
                    <td>
                        <pre>@Html.ActionLink("edit", "Edit", new { id = item.Id })|@Html.ActionLink("delete", "Delete", new { id = item.Id })
add: @Html.ActionLink("document", "UploadFile", "Upload", new { Id = item.Id + " course" }, null)|@Html.ActionLink("module", "Create", "Modules", new { CourseId = item.Id }, null)|@Html.ActionLink("student", "Register", "Account", new { CourseId = item.Id }, null)</pre>
                    </td>
                }

                <td class="subitem">
                    @if (item.Description != null && item.Description.Length > 0)
                    {<details>
                            <summary>Information</summary>
                            <small>@item.Description</small>
                            <small></small>
                        </details>}
                    @if (item.Modules != null && item.Modules.Count > 0)
                    {<details>
                            <summary>
                                @item.Modules.Count@if (item.Modules.Count == 1)
                                {<text> module</text>}
                            else
                            {<text> modules</text>}
                            </summary>
                            <small>
                                @{int loopM = 1;}

                                @foreach (var item8 in item.Modules.OrderBy(x => x.StartDate).ThenBy(x => x.EndDate).ThenBy(x => x.ModuleName).ToList())
                                {
                                    @loopM<text>.</text>@item8.ModuleName<text> (</text>@Html.DisplayFor(modelItem => item8.StartDate)<text> - </text>@Html.DisplayFor(modelItem => item8.EndDate)<text>)</text><br />
                                    loopM++;
                                }

                            </small>

                        </details>
                    }
                    @if (item.AttendingStudents != null && item.AttendingStudents.Count > 0)
                    {
                        <details>
                            <summary>
                                @item.AttendingStudents.Count
                                @if (item.AttendingStudents.Count == 1)
                                {<text> student</text>}
                            else
                            {<text> students</text>}
                            </summary>


                            <small>
                                @{ int loop = 1; }
                                @foreach (var item4 in item.AttendingStudents.OrderBy(x => x.LastName).ThenBy(x => x.FirstName).ThenBy(x => x.NickName).ThenBy(x => x.Email).Where(x => x.IsActive == true).ToList())
                                {

                                    @loop<text>.</text> @Html.ActionLink(item4.FullName, "UserHomePage", "ApplicationUsers", new { id = item4.Id }, null)<br />
                                    { loop = loop + 1; }
                                }
                                @foreach (var item4 in item.AttendingStudents.OrderBy(x => x.LastName).ThenBy(x => x.FirstName).ThenBy(x => x.NickName).ThenBy(x => x.Email).Where(x => x.IsActive == false).ToList())
                                {

                                    @loop<text>.</text> <text>inactivated</text> @Html.ActionLink(item4.FullName, "UserHomePage", "ApplicationUsers", new { id = item4.Id }, null)<br />
                                    { loop = loop + 1; }
                                }

                            </small>
                        </details>




                    }





                    @if (item.Files != null && item.Files.Count > 0)
                    {
                        <details>
                            <summary>
                                @item.Files.Count
                                @if (item.Files.Count == 1)
                                {<text> document</text>}
                            else
                            {<text> documents</text>}
                            </summary>


                            <small>
                                @{ int loop = 1; }
                                @foreach (var item10 in item.Files.OrderBy(x => x.Description).ToList())
                                {

                                    @loop<text>.</text> @Html.ActionLink(item10.Description, "View", "Upload", new { id = item10.Id }, null) <br />
                                    { loop = loop + 1; }
                                }

                            </small>
                        </details>
                    }





            </tr>

            foreach (var item2 in item.Modules.OrderBy(x => x.StartDate).ThenBy(x => x.EndDate).ThenBy(x => x.ModuleName))
            {
                <tr class="module hidden">
                    <td class="modulename">
                        <text>&#160; &#160; &#160;</text><input class="modulenamebox" type="checkbox" unchecked /> <b class="btn-danger" , style="color: black">M</b> @Html.DisplayFor(modelItem => item2.ModuleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item2.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item2.EndDate)
                    </td>
                    @if (User.IsInRole("Teacher"))
                    {
                        <td>

                            <pre>@Html.ActionLink("edit", "Edit", "Modules", new { id = item2.Id }, null)|@Html.ActionLink("delete", "Delete", "Modules", new { id = item2.Id }, null)
add: @Html.ActionLink("document", "UploadFile", "Upload", new { Id = item2.Id + " module" }, null)|@Html.ActionLink("activity", "Create", "Activities", new { ModuleId = item2.Id }, null)</pre>
                        </td>}
                    <td class="subitem">
                        @if (item2.Description != null | item2.ModuleInfo != null)
                        {<details>
                                <summary>Information</summary>
                                <b><small>@item2.Description</small><br /></b>
                                <small>@item2.ModuleInfo</small>
                            </details>}
                        @if (item2.Activities != null && item2.Activities.Count > 0)
                        {<details>
                                <summary>
                                    @item2.Activities.Count@if (item2.Activities.Count == 1)
                                    {<text> activity</text>}
                                else
                                {<text> activities</text>}
                                </summary>
                                @{int loopM = 1;}

                                @foreach (var item9 in item2.Activities.OrderBy(x => x.StartDate).ThenBy(x => x.EndDate).ThenBy(x => x.ActivityName).ToList())
                                {
                                    @loopM<text>.</text>@item9.ActivityType.ActivityTypeName<text>:</text> @item9.ActivityName<text><br /> </text>
                                    <small>@item9.StartDate.ToShortDateString() (@item9.StartDate.ToShortTimeString()) - @item9.EndDate.ToShortDateString() (@item9.EndDate.ToShortTimeString())</small>
                                    <br />}
                            </details>
                        }

                        @if (item2.Files != null && item2.Files.Count > 0)
                        {
                            <details>
                                <summary>
                                    @item2.Files.Count
                                    @if (item2.Files.Count == 1)
                                    {<text> document</text>}
                                else
                                {<text> documents</text>}
                                </summary>


                                <small>
                                    @{ int loop = 1; }
                                    @foreach (var item11 in item2.Files.OrderBy(x => x.Description).ToList())
                                    {

                                        @loop<text>.</text> @Html.ActionLink(item11.Description, "View", "Upload", new { id = item11.Id }, null) <br />
                                        { loop = loop + 1; }
                                    }

                                </small>
                            </details>
                        }
                    </td>



                </tr>
                foreach (var item3 in item2.Activities.OrderBy(x => x.StartDate).OrderBy(x => x.EndDate).ThenBy(x => x.ActivityName))
                {
                    <tr class="activity hidden">
                        <td class="activityname">
                            <text>&#160; &#160; &#160;</text><text>&#160; &#160; &#160;</text><input class="activitynamebox" type="checkbox" unchecked /> <b class="btn-primary" style="color: black">A</b> @Html.DisplayFor(modelItem => item3.ActivityType.ActivityTypeName): @Html.DisplayFor(modelItem => item3.ActivityName)
                        </td>
                        <td>
                            @item3.StartDate.ToShortDateString()<br />
                            @item3.StartDate.ToShortTimeString()
                        </td>
                        <td>
                            @item3.EndDate.ToShortDateString()<br />
                            @item3.EndDate.ToShortTimeString()
                        </td>
                        @if (User.IsInRole("Teacher"))
                        {
                            <td>
                                <pre>@Html.ActionLink("edit", "Edit", "Activities", new { id = item3.Id }, null)|@Html.ActionLink("delete", "Delete", "Activities", new { id = item3.Id }, null)
add: @Html.ActionLink("document", "UploadFile", "Upload", new { Id = item3.Id + " activity" }, null)</pre>

                            </td>}
                        <td>
                            @if (item3.Description != null && item3.ActivityInfo != null && (item3.Description.Length > 0 | item3.ActivityInfo.Length > 0))
                            {<details>
                                    <summary>Information</summary>
                                    <b><small>@item3.Description</small><br /></b>
                                    <small>@item3.ActivityInfo</small>
                                </details>}

                            @if (item3.Files != null && item3.Files.Count > 0)
                            {
                                <details>
                                    <summary>
                                        @item3.Files.Count
                                        @if (item3.Files.Count == 1)
                                        {<text> document</text>}
                                    else
                                    {<text> documents</text>}
                                    </summary>


                                    <small>
                                        @{ int loop = 1; }
                                        @foreach (var item12 in item3.Files.OrderBy(x => x.Description).ToList())
                                        {

                                            @loop<text>.</text> @Html.ActionLink(item12.Description, "View", "Upload", new { id = item12.Id }, null) <br />
                                            { loop = loop + 1; }
                                        }

                                    </small>
                                </details>
                            }

                        </td>
                    </tr>

                }

            }


        }


    </table>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/CourseIndex.js"></script>
</body>