@model LMS2.Models.Course
@using Microsoft.AspNet.Identity

@{
                /**/

                ViewBag.Title = "StudentCourse";
}

<div class="row">
    <div class="col-md-8">
        <h2>Course</h2>
    </div>
    @if (Model != null)
    {
        <div class="col-md-4">
            @if (Model.UrgentInfo != null)
            {
                <dl class="dl-horizontal" style="color:red; text-align:right">
                    <dt>
                        @Html.DisplayNameFor(model => model.UrgentInfo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UrgentInfo)
                    </dd>
                </dl>
            }
        </div> }

</div>

<div>
    <h4>@Html.DisplayFor(model => model.CourseName)</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.CourseName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CourseName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.StartDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StartDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DurationDays)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DurationDays)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.EndDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EndDate)
                </dd>

            </dl>
            <hr />
            <h4>Participants</h4>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.AttendingStudents.FirstOrDefault().FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AttendingStudents.FirstOrDefault().Email)
                    </th>
                    <th></th>
                </tr>
                @if (Model != null)
                {

            foreach (var item in Model.AttendingStudents.OrderBy(x => x.LastName).ThenBy(x => x.NickName).ThenBy(x => x.FirstName).ThenBy(x => x.Email).ToList())
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Homepage", "UserHomePage", new { id = item.Id }, null)
                </td>

                @*<td>

        @Html.ActionLink("Details", "Details", new { id = item.Id })
        </td>*@
            </tr>
            }
                }
            </table>
            @*@Html.Partial("_AttendingStudentsPartialView")*@
        </div>
        <div class="col-md-6">
            <hr />
            <h4>Schedule</h4>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Modules.FirstOrDefault().Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th></th>
                </tr>

                @if (Model != null)
                {
                    foreach (var item in Model.Modules)
                    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ModuleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            </tr>
                    }
                }

            </table>
        </div>


    </div>
   
</div>

