@model LMS2.Models.ApplicationUser
@using Microsoft.AspNet.Identity
@using LMS2.Models


@{
    ViewBag.Title = "Edit user details";
}



@{var userRole = "";
    string currentUserId = User.Identity.GetUserId();
    ApplicationDbContext context = new ApplicationDbContext();

    ApplicationUser currentUser = context.Users.FirstOrDefault(x => x.Id == currentUserId);
    string ID = currentUser.Id;
    string Email = currentUser.Email;
    string Username = currentUser.UserName;

    if (User.IsInRole(LMS2.Models.Roles.Teacher))
    {
        userRole = LMS2.Models.Roles.Teacher;
    }
    if (User.IsInRole(LMS2.Models.Roles.Student)) { userRole += LMS2.Models.Roles.Student; }
    if (currentUser != null)
    {
            <h2>
                Update user details

                @Html.ActionLink(Model.FullName, "UserHomePage", "ApplicationUsers", new { id = currentUser.Id }, null)
                @if (Model.CourseId.HasValue)
                {<text><small><br /><b> Student</b> (@Model.Course.CourseName)</small></text>}
                else
                {<text ><small><b>LMS teacher</b></small></text>}
            </h2>
            if (Model.Id == currentUser.Id) { 
                        @Html.ActionLink("Change password?", "ChangePassword", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            }
    }
        }
        @using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    @if (userRole == LMS2.Models.Roles.Student | currentUserId == Model.Id)
                    {
                        <div class="form-group">
                            @Html.LabelFor(model => model.NickName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.NickName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NickName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    }
                    @if (userRole == LMS2.Models.Roles.Teacher)
                    {

                        <div class="form-group">
                            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.IsActive)
                                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    }

                    @if (userRole == LMS2.Models.Roles.Student | currentUserId == Model.Id)
                    {
                        <div class="form-group">
                            @Html.LabelFor(model => model.AdditionalInfo, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.AdditionalInfo, 5, 80, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AdditionalInfo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SpecialInfo, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.SpecialInfo, 5, 80, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SpecialInfo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group hidden">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" , @readonly = "readonly"} })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">

                    <img src="https://x.cdn-expressen.se/images/a6/f0/a6f05597071a4f6d95abfff55fc81341/16x9/680.jpg" alt="Picture 300x500" height="300" width="500">
                    @if (currentUserId == Model.Id)
    {
                <a href="">Update user picture?</a>
                <br />
                <br />

                <br />

}
                    <br />

                    <div class="form-group">
                        <div class="col-md-offset-0 col-md-10">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </div>

                </div>
            </div>


        </div>


    </div>
        }

<div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
