@model IEnumerable<LMS2.Models.ApplicationUser>

@{
    ViewBag.Title = "User list";
}


<ul class="nav navbar-nav">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Filters / Add teacher
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">

            <li>@Html.ActionLink("Teachers", "Index", new { id = 0 })</li>
            <li>@Html.ActionLink("Students", "Index", new { id = 1 })</li>
            <li class="divider"></li>
            <li>
                @Html.ActionLink("Add teacher", "Register", "Account")
            </li>
        </ul>
</ul>  
<pre>
   @ViewBag.Filter
</pre>  


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>

        @if (ViewBag.Filter != "Teachers")
    {
        <th>
            @Html.DisplayNameFor(model => model.Course)
        </th>}
        <th style="width:10%">
        </th>



    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        @if (ViewBag.Filter != "Teachers")
        {
        <td>
            @if (item.CourseId != null)
            {
            @Html.DisplayFor(model => item.Course.CourseName) <text>(</text>@Html.DisplayFor(model => item.Course.Id)<text>)</text>}
        </td>
        }


        <td><pre>
@if (User.IsInRole("Teacher")){@Html.ActionLink("Edit", "EditUserHomePage", "ApplicationUsers", new { id = item.Id },null)<span>|</span>}@Html.ActionLink("View profile", "UserHomePage", new { id = item.Id })<span>|</span>@if (User.IsInRole("Teacher")){@Html.ActionLink("Delete", "Delete", new { id = item.Id })}</pre>
        </td>
    </tr>
    }

</table>
